body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b40aa;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; /* Zmiana na center aby przyciski były na środku */
  padding: 0 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}



.App-link {
  color: #61dafb;
}


h1 {
  margin: 0;
  color: white; 
}

.app-container {
  display: flex; 
  justify-content: space-between; 
}

.left-list, .right-list {
  flex: 1; 
  margin-right: 20px; 
}


.left-list {
  border-right: 1px solid #ccc; 
  margin-left: 20px
}

.right-list {
  border-left: 1px solid #ccc; 
}

table {
  width: 50%;
  border-collapse:collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.completed {
  color: green;
}

.not-completed {
  color: rgb(42, 149, 191);
}

.styled-button {
  background-color: #67aada;
  color: white;
  border: 3px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #0762ca;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.form-container form {
  width: 100%;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: auto;
  padding: 10px 20px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


.working-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.App-logo {
  height: 400px; 
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 10px;
}

.table-container {
  margin: 0 20px; 
}