@charset "UTF-8";
.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.form-frame {
  width: 100%; /* Ramka na szerokość tabeli */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Spowoduje to, że padding nie będzie zwiększał szerokości elementu */
}

.form-item {
  margin-bottom: 20px;
}

.form-item label {
  display: block;
  margin-bottom: 5px;
}

.form-select {
  width: 100%;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #40a9ff;
}

.icon {
  margin-right: 8px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  display: flex;
  justify-content: center;
}

.left-list, .right-list {
  margin: 0 20px;
}

.left-list {
  border-right: 0px solid #ccc;
}

.right-list {
  border-left: 0px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.completed {
  color: green;
}

.not-completed {
  color: rgb(42, 149, 191);
}

.styled-button {
  background-color: #67aada;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #0762ca;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.form-container form {
  width: 100%;
  max-width: 400px; /* Ustaw maksymalną szerokość formularza */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: auto; /* Zmienia szerokość na auto */
  padding: 10px 20px; /* Dodaje wewnętrzne marginesy */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=styles.css.map */
